{% extends 'backend/base.html' %}


{% block head %}
    
{% endblock head %}
    



{% block content %}
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        
        <!-- Product List Table -->
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-datatable table-responsive">
                <table class="datatables-products table">
                    <thead class="border-top">
                        <tr>
                            <th></th>
                            <th></th>
                            <th>product</th>
                            <th>category</th>
                            <th>stock</th>
                            <th>sku</th>
                            <th>price</th>
                            <th>qty</th>
                            <th>status</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    <!-- / Content -->



    <div class="content-backdrop fade"></div>
</div>

{% endblock content %}
    




{% block script %}
    <script>
        document.querySelector('.products__sidebar').classList.add('active')
        document.querySelector('.products___sidebar').classList.add('open')
    </script>
{% endblock script %}
    